@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'), url(./ProximaNova-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'), url(./ProximaNova-Bold.otf) format('opentype');
  font-weight: bold;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: local('FuturaPT'), url(./FuturaPT-Medium.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: local('FuturaPT'), url(./FuturaPT-Heavy.otf) format('opentype');
  font-weight: bold;
  font-weight: 500;
  font-style: normal;
}